<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803691697137-sg8jgb7qc6136m6etimvhebap3o1g108.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803691697137-sg8jgb7qc6136m6etimvhebap3o1g108</string>
	<key>API_KEY</key>
	<string>AIzaSyCDqvk3N8SdHOkraBqhfCjXXttX_2M_iAg</string>
	<key>GCM_SENDER_ID</key>
	<string>803691697137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>.com.TraveLog.tokueikun</string>
	<key>PROJECT_ID</key>
	<string>travelog-610ca</string>
	<key>STORAGE_BUCKET</key>
	<string>travelog-610ca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803691697137:ios:0516b766c895982839aa50</string>
</dict>
</plist>